.student {
  padding: 110px 70px 204px 70px;
  max-width: 1280px;
  margin: 0 auto;
}

.student__title {
  margin: 0 0 66px 0;
}

.student__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
}

.student__info {
  max-width: 600px; 
}

.student__name {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px 0;
}

.student__prof {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 26px 0;
}

.student__about {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 99px 0;
}

.student__social-links {
  display: flex;
  gap: 20px;
  font-size: 14px;
  line-height: 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.student__social-link {
  text-decoration: none;
  color: #000;
}

.student__social-link:active {
  box-shadow: 0 0 0 3px red;
}

.student__social-link:hover {
  box-shadow: 0 0 0 1px #000;
  border-radius: 5px;
}

.student__photo {
  width: 270px;
  height: 327px;
  margin-left: 49px;
}

.student__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0 0 50px 0;
}

.student__projects {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.student__item {
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  border-bottom: #E8E8E8 1px solid;
  padding-bottom: 19px;
  margin-bottom: 20px;
}

.student__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
}

.student__link:hover {
  box-shadow: 0 0 0 1px #000;
  border-radius: 20px;
}

.student__link:active {
  box-shadow: 0 0 0 3px red;
}

@media (max-width: 768px) {
  .student {
    padding: 90px 50px 169px 50px;
  }

  .student__card {
    margin-bottom: 91px;
  }

  .student__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .student__prof {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .student__about {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }

  .student__photo {
    width: 255px;
    height: 307px;
  }

  .student__item {
    font-size: 28px;
    line-height: 50px;
  }
}

@media (max-width: 540px) {
  .student {
    padding: 70px 14px 149px 14px;
  }

  .student__title {
    margin-bottom: 60px;
  }

  .student__card {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 69px;
  }

  .student__name {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .student__prof {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .student__about {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .student__photo {
    margin: 0 0 40px 0;
  }

  .student__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .student__item {
    font-size: 18px;
    line-height: 28px;
  }
}