.promo {
  background-color: #F3C1F8;
  background-image: url(../../images/img_landing-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 484px; /* добавлено */
  display: flex;
  align-items: center;
  padding-bottom: 40px; /* добавлено */
}

.promo__title {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 730px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .promo {
    min-height: 768px; /* добавлено */
    padding-bottom: 16px; /* добавлено */
  }
}

@media (max-width: 540px) {
  .promo {
    min-height: 531px;
    background-size: 248px;
    padding-bottom: 38px;
  }
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    padding: 0 10px;
  }
}