.page-not-found {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-not-found__title {
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  margin: 246px 0 5px 0;
}

.page-not-found__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 184px 0;
} 

.page-not-found__button {
  display: inline;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
  margin: 0 auto 60px;
  border: 0;
  background-color: transparent;
}

.page-not-found__button:hover {
  box-shadow: 0 0 0 3px #F3C1F8;
}

.page-not-found__button:active {
  box-shadow: 0 0 0 3px red;
}

.page-not-found__button:focus {
  outline: none;
  opacity: .8;
  border-bottom: 1px solid #F3C1F8;
}


@media (max-width: 768px) {
  .page-not-found__title {
    margin-top: 408px;
  }
}


@media (max-width: 540px) {
  .page-not-found__title {
    font-size: 80px;
    line-height: 97px;
    margin: 329px 0 10px 0;
  }

  .page-not-found__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 284px;
  }

  .page-not-found__button {
    font-size: 12px;
    line-height: 15px;
  }
}