.account-button {
  width: 100px;
  height: 32px;
  background-color: #fff;
  color: #000;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  -moz-box-shadow:    0px 3px 14px rgba(0, 0, 0, 0.08);
  box-shadow:         0px 3px 14px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 11px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 12px;
  text-decoration: none;
}

.account-button:hover {
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.15);
}

.account-button:active {
  box-shadow: 0px 3px 18px rgba(243, 193, 248, 1);
}

.account-button__image {
  width: 26px;
  height: 26px; 
}

@media (max-width: 540px) {
  .account-button {
    font-size: 10px;
    line-height: 16px;
  }
}