.header__logo {
  display: block;
  background-color: inherit;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: #000 10px solid;
  box-sizing: border-box;
}

.header__logo:hover {
  box-shadow: 0 0 0 3px #fff;
}

.header__logo:active {
  box-shadow: 0 0 0 3px red;
}

.header {
  background-color: #F3C1F8;
  padding: 18px 0 18px 0;
}

.header_login {
  background-color: #fff;
}

.header_login .header__logo:hover {
  box-shadow: 0 0 0 3px #F3C1F8;
}

.header_login .header__logo:active {
  box-shadow: 0 0 0 3px red;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  margin: 0 auto;
  max-width: 1140px;
}

.header__wrapper_login {
  max-width: 396px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav_main {
  gap: 30px;
}

.header__link {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
}

.header__link:hover {
  color: #fff;
}

.header__link:active {
  box-shadow: 0 0 0 1px red;
}

.header_login .header__link:hover {
  color: #F3C1F8;
}

.header__link_bigger {
  font-size: 14px;
  line-height: 18px;
}

.header__link_bigger:nth-last-child(2) {
  margin-right: 30px;
}

.header__link_type_signin {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 76px;
  min-height: 32px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
}

.header__link_type_signin:hover {
  color: #fff;
  opacity: .5;
}

.header__link_type_signin:active {
  box-shadow: 0 0 0 3px red;
}

@media (max-width: 768px) {
  .header__wrapper {
    padding: 0 30px;
  }

  .header__nav_hidden {
    display: none;
  }
}

@media (max-width: 540px) {
  .header__wrapper {
    padding: 0 14px;
  }

  .header__nav_main {
    gap: 14px;
  }

  .header__link {
    font-size: 10px;
    line-height: 16px;
  }

  .header__link_type_signin {
    min-width: 54px;
    min-height: 26px;
  }
}

.header_mini {
  padding-top: 70px;
}

@media (max-width: 768px) {
  .header_mini {
    padding-top: 232px;
  }
}

@media (max-width: 540px) {
  .header_mini {
    padding: 56px 0 28px 0;
  }

  .header__wrapper_login {
    justify-content: center;
  }
}